QMainWindow#Menu
{
	background-color: black;
}

QPlainTextEdit#LineEdit
{
	background-color: #323835;
	color: #DADADA;
	border: 1px solid black;
}

QVBoxLayout#Box
{
	background-color: #323835;
}

QMenuBar#MenuBar
{
	background-color: #323835;
	color: white;
}
