QMainWindow#Menu
{
	background-color: black;
}

QPlainTextEdit#LineEdit
{
	background-color: #323835;
	color: #DADADA;
	border: 0,5px solid black;
}

QVBoxLayout#Box
{
	background-color: #323835;
}

QMenuBar#MenuBar
{
	background-color: #313232;
	color: white;
	border: 2px white;
}

QAction#SubMenu
{
	background-color: #313232;
}
